@import '../../assets/styles/variables';

.article-wrapper {
    header {
        background-color: $light-blue;
        border: 1px solid $blue;
        cursor: pointer;
        padding: 5px;
        position: relative;

        &:before,
        &:after {
            border-style: solid;
            content: '';
            display: block;
            position: absolute;
        }
    }

    &.show {

        header {
            &:before {
                border-color: $dark-blue transparent transparent;
                border-width: 15px 9px 0;
                height: 15px;
                right: 5px;
                top: 8px;
            }
    
            &:after {
                border-color: $light-blue transparent transparent;
                border-width: 9px 6px 0;
                height: 9px;
                right: 8px;
                top: 10px;
            }
        }

    }

    &.hide {    
        margin-bottom: -2px;
        header {
            background-color: $white;
            &:before {
                border-color: transparent transparent $dark-blue;
                border-width: 0 9px 15px;
                height: 15px;
                right: 5px;
                top: 8px;
            }
    
            &:after {
                border-color: transparent transparent $light-blue;
                border-width: 0 6px 9px;
                height: 9px;
                right: 8px;
                top: 12px;
            }
        }

        .article-content {
            height: 0;
            overflow: hidden;
            padding: 0;
        }

    }

    p {
        border: 1px solid $blue;
        padding: 4px;
        margin: -1px 0 0 0;
    }
}