@import '../../assets/styles/variables';

.tabs {
    margin-bottom: -2px;
}

.nav-tabs {
    border-bottom-color: $blue;
}

.nav-item {
    margin: 0;
    &.active {
        .nav-link {
            background-color: $blue;
        }
    }

    .nav-link {
        border-color: $blue;
        border-radius: 4px 4px 0 0;
        margin-right: -1px;

        &:hover {
            border-color: $blue;
        }

        &.active {
            background-color: $blue;
            border-color: $dark-blue;
        }

    }
}