@import '../../assets/styles/variables';

.app-wrapper {
    aside {
        padding: 0;
    }
}

.list-group {
    .list-group-item {
        border-color: $dark-blue;
        border-width: 0 0 1px;
        border-radius: 0;
        padding: 0;
    }
}

.nav-link {
    padding: 5px 8px;
}